body {
    background-color: #eeeeee;
    font-family: 'Arimo', sans-serif;
}

/*Header*/

img.logo-pokemon {
    width: 350px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}

/*Content*/

.cont-pokemon {
    border: 1px solid white;
    display:  inline-block;
    width: 20%;
    text-align: center;
    background-color: white;
    margin: 10px;
}

.cont-pokemon:hover {
    background-color: #F7D3CF;
    cursor: pointer;
}

img.specific-info {
    width: 200px;
}

.info-pokemon {
    border: 1px solid white;
    background-color: white;
    text-align: center;
}

.container-info-p {
    text-align: left;
    margin-left: 20%;
    border: 1px solid white;
    width: 60%;
    margin-bottom: 50px;
}

.names-pkmn {
    padding: 10px;
    font-size: 30px;
}

.numb-pkmn {
    font-size: 20px;
}