body {
    background-color: #eeeeee;
}

/*Header*/

img.logo-pokemon {
    width: 350px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}

#cont-pokemon {
    border: 1px solid black;
    display:  inline-block;
    width: 20%;
    text-align: center;
    background-color: white;
}

#cont-pokemon:hover {
    background-color: #F7D3CF;
    cursor: pointer;
}